<h1>Loan Applications</h1>

<%= link_to "Back", my_loan_applications_path %> <strong>Link to my_loan_applications_path </strong>

<p><%= @status %></p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
      <th>Loan amount</th>
      <th>Loan term</th>
      <th>Purpose</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_applications.each do |loan_application| %>
      <tr>
        <td><%= loan_application.user.email %></td>
        <td><%= loan_application.status %></td>
        <td><%= loan_application.loan_amount %></td>
        <td><%= loan_application.loan_term %></td>
        <td><%= loan_application.purpose %></td>
        <td><%= link_to 'Show', loan_application_path(id: loan_application.id, status: @status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>