<section class="secion-assess-one-loan">
  
  <h2>Assess application</h2>

  <div class="back-button">
    <%= link_to "Back", awaiting_assessment_path %>    
  </div>

  <div class="one-loan-assessment">

    <div class="one-field">
      <strong>Application id: <%= @loan_application.id %></strong> 
    </div>

    <div class="one-field">
      <p><strong>User email:</strong></p>
      <%= User.find(@loan_application.user_id).email %>
    </div>

    <div class="one-field">
      <p><strong>Submitted:</strong></p>
      <%= @loan_application.updated_at.strftime("%d-%b") %>
    </div>

    <div class="one-field">
      <p><strong>First name:</strong></p>
      <%= @loan_application.first_name %>
    </div>

    <div class="one-field">
      <p><strong>Last name:</strong></p>
      <%= @loan_application.last_name %>
    </div>

    <div class="one-field">
      <p><strong>Loan amount</strong>:</p>
      <%= number_to_currency(@loan_application.loan_amount / 100, percision: 2) %>
    </div>

    <div class="one-field">
      <p><strong>Loan term:</strong></p>
      <%= @loan_application.loan_term %> months
    </div>

    <div class="one-field">
      <p><strong>Purpose:</strong></p>
      <%= @loan_application.purpose %>
    </div>

    <div class="one-field">
      <p><strong>Loan Category:</strong></p>
      <%= LoanCategory.find(@loan_application.loan_category_id).label %>
    </div>

    <div class="one-field">
      <p><strong>Street Address:</strong></p>
      <%= @loan_application.street_address %>
    </div>

    <div class="one-field">
      <p><strong>City:</strong></p>
      <%= @loan_application.city %>
    </div>

    <div class="one-field">
      <p><strong>State:</strong></p>
      <%= @loan_application.state %>
    </div>

    <div class="one-field">
      <p><strong>Postcode:</strong></p>
      <%= @loan_application.postcode %>
    </div>

    <div class="one-field">
      <p><strong>Employment Type:</strong></p>
      <%= EmploymentType.find(@loan_application.employment_type_id).label %>
    </div>

    <div class="one-field">
      <p><strong>Weekly Income:</strong></p>
      <%= number_to_currency(@loan_application.weekly_income / 100, percision: 2) %>
    </div>

    <div class="one-field">
      <p><strong>Weekly Expenses:</strong></p>
      <%= number_to_currency(@loan_application.weekly_expenses / 100, percision: 2) %>
    </div>

    <div class="one-field">
      <p><strong>Work Gap Months:</strong></p>
      <%= @loan_application.work_gap_months %> months
    </div>

    <% if @loan_application.license_url.nil? %>
    <div class="one-field">
      <p><strong>No license uploaded</p>
    </div>
    <% else %>
    <div class="one-field">
      <p><strong>License:</strong></p>
      <p><%= image_tag @loan_application.license_url, width: '100%' %></p>
    </div>
    <% end %>

    <% if @loan_application.pay_slip_url.nil? %>
    <div class="one-field">
      <p><strong>No pay slips uploaded</p>
    </div>
    <% else %>
    <div class="one-field">
      <p><strong>Pay slip:</strong></p>
      <p><%= image_tag @loan_application.pay_slip_url, width: '100%' %></p>
    </div>
    <% end %>

    <div class="approve-button">
      <%= link_to "Approve", approve_active_loan_path(id: @loan_application.id), method: :post %>
          
    </div>
  
  </div>

</section>