<section class="loans-awaiting-assessment">
  
  <h2>Loans awaiting assessment</h2>

  <div class="back-button">
    <%= link_to "Back", my_loan_applications_path %>    
  </div>

  <div class="column-heading whole-table">
    <div class="column-created-at">date created</div>
    <div class="column-purpose">loan purpose</div>
    <div class="column-amount">amount</div>
  </div>

  <% @loan_applications.each do |loan_application| %>
    <div class="one-loan whole-table">
      <div class="column-created-at"><%= loan_application.created_at.strftime("%d-%b") %></div>
      <div class="column-purpose"><%= LoanCategory.find(loan_application.loan_category_id).label %></div>
      <div class="column-amount"><%= number_to_currency(loan_application.loan_amount / 100, percision: 2) %></div>

      <div class="assess-application">
        <%= link_to "Assess application",  assess_application_path(id: loan_application.id) %>
      </div>
    </div>
  <% end %>

</section>