<%= link_to "Back", root_path %> <strong>Link to root_path</strong>

<p><%= link_to 'New Loan Application', new_loan_application_path %></p>

<p><%= link_to 'Saved Applications', my_loan_applications_with_status_path(status: "saved") %></p>

<p><%= link_to 'Being Assessed', my_loan_applications_with_status_path(status: "being assessed") %></p>

<p><%= link_to "Awaiting your approval",my_active_loans_index_path(status: "pending approval") %> <strong>Link to my_index</strong></p>

<p><%= link_to "Awaiting funding", my_active_loans_index_path(status: "unfunded") %> <strong>Link to my_index</strong></p>