<section class="section-my-loans">
  <h2>My loans</h2>

  <p class="loan-button"><%= link_to 'New loan application', new_loan_application_path %></p>

  <p class="loan-button"><%= link_to 'Saved applications', my_loan_applications_with_status_path(status: "saved") %></p>

  <p class="loan-button"><%= link_to 'Being assessed', my_loan_applications_with_status_path(status: "being assessed") %></p>

  <p class="loan-button"><%= link_to "Awaiting your approval",my_active_loans_index_path(status: "pending approval") %></p>

  <p class="loan-button"><%= link_to "Awaiting funding", my_active_loans_index_path(status: "unfunded") %></p>

  <p class="loan-button"><%= link_to "Awaiting assessment", awaiting_assessment_path %></p>

  <p class="back-button"><%= link_to "Back", root_path %></p>

</section>