<section class="section-browse-investments">

  <% if @total_count < @finish %>
    <% final = (@total_count - 1) %>
  <% else %>
    <% final = @finish %>
  <% end %>

  <h2>Browse investments</h2>

  <div class="back-button">
  <%= link_to "Back", root_path %>
  </div>
  
  <div class="top-navigation-buttons">
    <% if @start >= 12 %> 
      <div class="loan-nav-button left-button top-area">
        <strong><%= link_to "<", active_loans_index_path(status: "unfunded", start: (@start - 12), finish: (@finish - 12)) %></strong>
      </div>
    <% end %>

    <p class="showing-notice">showing <%= (@start + 1) %> to <%= (final + 1) %> of <%= @total_count %></p>

    <% if @finish + 1 < @total_count %>
      <div class="loan-nav-button right-button top-area">
        <strong><%= link_to ">", active_loans_index_path(status: "unfunded", start: (@start + 12), finish: (@finish + 12)) %></strong>
      </div>
    <% end %>
  </div>
  
  <% @active_loans.each do |active_loan| %>
    
    <%= link_to show_active_loan_path(active_loan.id) do %>
    <div class="one-active-loan">
      <% relevant_investments = Investment.where(active_loan_id: active_loan.id) %>
        <% amount_invested_so_far = 0.0 %>
        <% relevant_investments.each do |investment| %>
        <% amount_invested_so_far += investment.opening_balance %>
      <% end %>
      <% funded_percentage = amount_invested_so_far / active_loan.opening_balance %>
      <h3><%= active_loan.category %></h3>
      <p class="interest-rate"><%= active_loan.interest_rate %>%</p>
      <p class="loan-amount"><%= number_to_currency((active_loan.opening_balance / 100), precision: 0) %></p>
      <p class="funded-percentage"><%=(funded_percentage * 100).to_i %>% funded</p>
      <p class="loan-term"><%= active_loan.loan_term %> months</p>
      <p class="employment">Employmed as <%= active_loan.employment_type %></p>
    </div>
    <% end %>

  <% end %>

  <div class="bottom-navigation-buttons">
    <% if @start >= 12 %> 
      <div class="loan-nav-button left-button bottom-area">
        <strong><%= link_to "<", active_loans_index_path(status: "unfunded", start: (@start - 12), finish: (@finish - 12)) %></strong>
      </div>
    <% end %>

    <p class="showing-notice">showing <%= (@start + 1) %> to <%= (final + 1) %> of <%= @total_count %></p>

    <% if @finish + 1 < @total_count %>
      <div class="loan-nav-button right-button bottom-area">
        <strong><%= link_to ">", active_loans_index_path(status: "unfunded", start: (@start + 12), finish: (@finish + 12)) %></strong>
      </div>
    <% end %>
  </div>

</section>