<section class="section-browse-investments">

  <h2>Browse investments</h2>

  <div class="back-button">
  <%= link_to "Back", root_path %>
  </div>
  
  <% if @start >= 10 %> 
    <div class="loan-nav-button left-button top-area">
      <%= link_to "<--", active_loans_index_path(status: "unfunded", start: (@start - 10), finish: (@finish - 10)) %>
    </div>
  <% end %>

  <% if @finish <= @total_count %>
    <div class="loan-nav-button right-button top-area">
      <%= link_to "-->", active_loans_index_path(status: "unfunded", start: (@start + 10), finish: (@finish + 10)) %>
    </div>
  <% end %>

  <% @active_loans.each do |active_loan| %>
    
    <%= link_to show_active_loan_path(active_loan.id) do %>
    <div class="one-active-loan">
      <% relevant_investments = Investment.where(active_loan_id: active_loan.id) %>
        <% amount_invested_so_far = 0.0 %>
        <% relevant_investments.each do |investment| %>
        <% amount_invested_so_far += investment.opening_balance %>
      <% end %>
      <% funded_percentage = amount_invested_so_far / active_loan.opening_balance %>
      <h3><%= active_loan.category %></h3>
      <p class="interest-rate"><%= active_loan.interest_rate %>%</p>
      <p class="loan-amount"><%= number_to_currency((active_loan.opening_balance / 100), precision: 0) %></p>
      <p class="funded-percentage"><%=(funded_percentage * 100).to_i %>% funded</p>
      <p class="loan-term"><%= active_loan.loan_term %> months</p>
      <p class="employment">Employmed as <%= active_loan.employment_type %></p>
    </div>
    <% end %>

  <% end %>

  <% if @start >= 10 %>
    <div class="loan-nav-button left-button top-area">
      <%= link_to "<--", active_loans_index_path(status: "unfunded", start: (@start - 10), finish: (@finish - 10)) %>
    </div>
  <% end %>

  <% if @finish <= @total_count %>
    <div class="loan-nav-button right-button top-area">
      <%= link_to "-->", active_loans_index_path(status: "unfunded", start: (@start + 10), finish: (@finish + 10)) %>
    </div>
  <% end %>
 
</section>