<section class="section-my-active-loans">
  <% if @status == "unfunded" %>
    <h2>My unfunded loans</h2>
  <% else %>
    <h2>My outstanding loans</h2>
  <% end %>

  <div class="back-button">
    <% if @status == "funded" %>
    <%= link_to "Back", root_path %>
    <% else %>
      <%= link_to "Back", my_loan_applications_path %>
    <% end %>
  </div>

  <div class="column-heading whole-table">
    <div class="column-created-at">date created</div>
    <div class="column-purpose">loan purpose</div>
    <div class="column-amount">amount</div>
    <div class="fourth-column">
      <% if @status == "funded" %>
      percent repaid
      <% else %>
      percent funded
      <% end %>
    </div>
  </div>


  <% @active_loans.each do |active_loan| %>
    
    <div class="one-active-loan">
      
      <div class="column-created-at"><%= active_loan.created_at.strftime("%d-%b") %></div>
      <div class="column-purpose"><%= active_loan.category %></div>
      <div class="column-amount"><%= number_to_currency(active_loan.opening_balance / 100, percision: 2) %></div>
      <div class="fourth-column">
      <% if @status == "funded" %>

        <% total_repaid = 0 %>
        <% repayments = Repayment.where(active_loan_id: active_loan.id) %>
        <% repayments.each do |repayment| %>
        <% total_repaid += repayment.amount %>
        <% end %>
        <% percent_repaid = ((total_repaid.to_f / active_loan.opening_balance.to_f) * 100).round(2) %>
        %<%= percent_repaid %>
      <% else %>

        <% total_funded = 0 %>
        <% investments = Investment.where(active_loan_id: active_loan.id) %>
        <% investments.each do |investment| %>
        <% total_funded += investment.opening_balance %>
        <% end %>
        <% percent_funded = ((total_funded.to_f / active_loan.opening_balance.to_f) * 100).round(2) %>
        %<%= percent_funded %>
      <% end %>
      </div>

      <div class="view-active-loan">
          <%= link_to "View",  show_active_loan_path(id: active_loan.id) %>
      </div>

    </div>

  <% end %>
    
</section>