<section class="section-my-investments">

  <h2>My <%= @status %> investments</h2>

  <div class="back-button">
  <%= link_to "Back", root_path %>
  </div>

  <div class="column-heading whole-table">
    <div class="column-created-at">date invested</div>
    <div class="column-amount">investment amount</div>
    <div class="column-interest-rate">interest rate</div>
    <div class="fourth-column">
      <% if @status == "funded" %>
      percent repaid
      <% else %>
      percent funded
      <% end %>
    </div>
  </div>
    

  <% @investments_by_status.each do |investment| %>

    <div class="one-investment">

      <div class="column-created-at"><%= ActiveLoan.find(investment.active_loan_id).updated_at.strftime("%d-%b") %></div>
      <div class="column-amount"><%= number_to_currency(investment.opening_balance / 100, percision: 2) %></div>
      <div class="column-interest-rate">%<%= ActiveLoan.find(investment.active_loan_id).interest_rate.round(2) %></div>
      
      <% if @status == "funded" %>

        <% total_repaid = 0 %>
        <% repayments = Repayment.where(investment_id: investment.id) %>
        <% repayments.each do |repayment| %>
        <% total_repaid += repayment.amount %>
        <% end %>
        <% percent_repaid = ((total_repaid.to_f / investment.opening_balance.to_f) * 100).round(2) %>
        <div class="fourth-column">
          %<%= percent_repaid %>
        </div>
      <% else %>

        <% total_funded = 0 %>
        <% investments = Investment.where(active_loan_id: investment.active_loan_id) %>
        <% investments.each do |investment| %>
        <% total_funded += investment.opening_balance %>
        <% end %>
        <% percent_funded = ((total_funded.to_f / ActiveLoan.find(investment.active_loan_id).opening_balance.to_f ) * 100).round(2) %>
        <div class="fourth-column">
          %<%= percent_funded %>
        </div>
      
      <% end %>

      <div class="view-active-loan">
          <%= link_to "View loan",  show_active_loan_path(id: investment.active_loan_id) %>
      </div>

      </div>

    </div>

  <% end %>

</section>