<!DOCTYPE html>
<html lang="en">
  <head>
    <title>p2pcollectiveCom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>

  <body>
    <section>
      <header>
        <p class="logo">p2pcollective</p>
      </header>
    </section>
    
    <section class="section-input-area">
    <%= yield %>
    </section>
    
    <p class="back"><%= link_to "Back", root_path %></p>

    <section>
      <footer>
      </footer>
    </section> 
  </body>
</html>