<!DOCTYPE html>
<html lang="en">
  <head>
    <title>p2pcollective</title>
    
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>

  <body>
    <section class="section-header">
      <header>
        <%= link_to "p2pcollective", root_path, id: "home-link-in-header" %>
        <p class="user-email"><%= current_user.email %></p>
        
        <div class=navigation>
          
          <label for="toggle">&#9776;</label>
          <input type="checkbox" id="toggle">

          <div class="menu">
            <%= link_to "My portfolio", root_path%>
            <%= link_to "Browse investments", active_loans_index_path(status: "unfunded", start: 0, finish: 9) %>
            <%= link_to "My loan applications", my_loan_applications_path %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </div>
          
        </div>

      </header>
    </section>
    
    <p id="notice"><%= notice %></p>
    
    <%= yield %>


    <section class="section-footer">
      <footer>
      </footer>
    </section>

  </body>
</html>